:root {
  --theme-primary-color : #484A4B;
  --theme-secondary-color : #E8E8E8;

  --theme-h1-size :32px;
  --theme-h2-size :20px;
  --theme-h3-size :14px;
  --theme-p-size :14px;
  --theme-small-size : 12px;
}
* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

h1 {font-size : var(--theme-h1-size);}
h2 {font-size : var(--theme-h2-size);}
h3 {font-size : var(--theme-h3-size);}
p {font-size : var(--theme-p-size);}
small {font-size : var(--theme-small-size);}

